################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xnept/.vs/NEKWOM/FileContentIndex/0bdb4de1-a4ba-4017-a1af-28ef60109f14.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/2e4989e5-7a5c-498c-92fe-6059ff16a534.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/6b21cd72-b5ec-426a-9edb-3c124214f91c.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/f7643f7a-e8f7-4dde-8b8c-0cefbe6e5fd6.vsidx
