################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xnept/.vs/NEKWOM/FileContentIndex/0bdb4de1-a4ba-4017-a1af-28ef60109f14.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/2e4989e5-7a5c-498c-92fe-6059ff16a534.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/6b21cd72-b5ec-426a-9edb-3c124214f91c.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/f7643f7a-e8f7-4dde-8b8c-0cefbe6e5fd6.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/05ae4c3c-c925-47bd-82ad-af29680a4238.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/3feb5418-af9e-46cb-bc03-e502e5ac45fa.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/4c3a022e-58d5-40bf-9e2a-d7aab968e7b9.vsidx
/Xnept/.vs/NEKWOM/DesignTimeBuild/.dtbcache.v2
/Xnept/.vs/NEKWOM/FileContentIndex/82f758e8-3942-43cc-93d4-b28d208042ca.vsidx
*.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/adc8e5eb-84c2-484f-ac89-9821e63c63dc.vsidx
/Xnept/.vs/NEKWOM/FileContentIndex/e62c92ad-4913-42e3-afbc-f16c90566545.vsidx
/Xnept/bin/Debug/net7.0/nekwom.staticwebassets.runtime.json
/Xnept/obj/Debug/net7.0/nekwom.dll
/Xnept/bin/Debug/net7.0/nekwom.pdb
/Xnept/bin/Debug/net7.0/nekwom.dll
/Xnept/obj/Debug/net7.0/nekwom.GeneratedMSBuildEditorConfig.editorconfig
/Xnept/obj/Debug/net7.0/nekwom.pdb
/Xnept/obj/Debug/net7.0/staticwebassets.build.json
/Xnept/obj/Debug/net7.0/staticwebassets.development.json
/Xnept/obj/Debug/net7.0/staticwebassets.pack.json
/Xnept/obj/Debug/net7.0/staticwebassets/msbuild.nekwom.Microsoft.AspNetCore.StaticWebAssets.props
/Xnept/obj/Debug/net7.0/project.razor.vs.json
/Xnept/obj/Debug/net7.0/ref/nekwom.dll
/Xnept/obj/Debug/net7.0/refint/nekwom.dll
