@page
@model OnCourt.Pages.ProfileModel
@{
}
<div class="container">
    <div>
        <div>
            Profile and some Functionalities
        </div>
        <div>
            <ul>
                <li>Email</li>
                <li>Phone Number</li>
                <li>Age</li>
                <li>Preferred Shot</li>
                <li>Level </li>
                <li>Sport </li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <div class="card">
               <div>
                   <img src="~/img/myImage.jpg" />
               </div>
               <div>
                   <h3>Nicholas</h3>
                   <p>Intermediate</p>
                   <p>Preferred Shot: Serve</p>
               </div>
            </div>
        </div>
    </div>
</div>