@page
@model OnCourt.Pages.RequestsModel
@{
    Layout = "HomeHeader";
}
<div class="container">
    <div class="card-first-sec">
        <div class="profile-nav">
            <h3>Welcome Nick</h3>
            <ul class="profile-switch">
                <li><a href="~/Profile"><img src="~/img/myImage2.jpg" alt="Image 2" class="profile-pic" /></a>Nicholas</li>
            </ul>
            <ul class="tab-Nav">
                <li><a href="~/Messages">Messages</a></li>
                <li><a href="~/Players">Players</a></li>
                <li><a href="~/Requests">Requests</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">Email</a></li>
                <li><a href="#">Phone Number</a></li>
                <li><a href="#">Age</a></li>
                <li><a href="#">Preferred Shot</a></li>
                <li><a href="#">Level</a></li>
                <li><a href="#">Sport</a></li>
            </ul>
        </div>
    </div>
    <div class="card-section">
       <div>
          
       </div>
    </div>

</div>
