@page
@model nekwom.Pages.IndexModel
@{

}
<div class="opening">
    <h1>Xnept</h1>
    <form name="Proceed">
        <table>
            <tr>
                <input type="submit" name="CreateAccount" value="Create Account"/>
            </tr>
            <tr>
                <input type="submit" name="Login" value="Sign In"
            </tr>
        </table>
    </form>
</div>  
