body{
    margin: 0;
    padding: 0;
}
.holder-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161617;
}
.home {
    background-image: url("../img/PickleballMan.jpg");
    height: 50%;
    width: 85%;
    max-width: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 2%;
}